/* -------------------------- */
/* -- Notes            ------ */
/* -------------------------- */
/*
  Important z-indexes
    100: overlay-container, contextmenu-container
    110: footer, menu-micro


*/

/* -------------------------- */
/* -- Partials         ------ */
/* -------------------------- */
@import 'partials/_variables';
@import 'partials/_mixins';

@import 'partials/_colors';
@import 'partials/_breakpoints';
@import 'partials/_fonts';
@import 'partials/_buttons';

@import 'partials/_foundation-overrides';

@import 'partials/_breezy-tools';

/* -------------------------- */
/* -- Size Variables   ------ */
/* -------------------------- */
$container-width: 1280px;
$container-top-offset: 6rem;
$base-font-size: 16px;

/* -------------------------- */
/* ------- Global Styles ---- */
/* -------------------------- */
html{
  height: 100%;

  -webkit-font-smoothing: antialiased;
}

body{
  background-color: $white;
  font-size: $base-font-size;
  font-family: $font-raleway;
  color: $grey-darkest;
  height: 100%;
  position: relative;
}

//global shadow for the container

/* -------------------------- */
/* ---- Container Styles ---- */
/* -------------------------- */
.wrapper{
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
}
.content-container{
  background: $white;
  margin: 0 auto;
  max-width: $container-width;
  padding-bottom: 3rem;
  position: relative;
  @media only screen and (max-width: $breakpoint-small){
    margin-top: 0;
  }
}

.content{
  position: relative;
}


@import 'partials/_content-sections';
@import 'partials/_footer';
@import 'partials/_forms';
@import 'partials/_header';
@import 'partials/_navigation';
@import 'partials/_modals';

@import 'partials/_mobile_content';
@import 'partials/_slick_overrides';
