@charset "UTF-8";
/* -------------------------- */
/* -- Notes            ------ */
/* -------------------------- */
/*
  Important z-indexes
    100: overlay-container, contextmenu-container
    110: footer, menu-micro


*/
/* -------------------------- */
/* -- Import CSS Libs  ------ */
/* -------------------------- */
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px\9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-slider ul {
  margin-bottom: 0; }

/* -------------------------- */
/* -- Partials         ------ */
/* -------------------------- */
/* -------------------------- */
/* ------- Mixins ----------- */
/* -------------------------- */
/* -------------------------- */
/* ------- Colors      ------ */
/* -------------------------- */
.error-red {
  color: #ff0000; }

/* -------------------------- */
/* - Annie  Color Palette  -- */
/* -------------------------- */
/* -------------------------- */
/* - Client Color Palette  -- */
/* -------------------------- */
.color-client-blue-base {
  color: #2C8282; }

/* -------------------------- */
/* ----- Breakpoints   ------ */
/* -------------------------- */
/* -------------------------- */
/* ------- Font   Styles ---- */
/* -------------------------- */
/*
  font-stacks
*/
/*
  global styles
*/
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-size: 16px;
  line-height: 1.5; }

p {
  line-height: 2; }

p.larger {
  font-size: 1.25rem; }

p, a, span, li {
  font-family: "Lora", serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold; }
  h1 *, h2 *, h3 *, h4 *, h5 *, h6 * {
    font-family: "Cormorant Garamond", serif;
    font-weight: bold; }

p {
  font-size: 1.063rem; }

p.large {
  font-size: 1.25rem; }

p.mod-bottompad-low {
  margin-bottom: 0.25rem; }

.error {
  color: #ff0000;
  display: none;
  margin: 0.7rem 0; }

li {
  font-size: 1.2rem;
  line-height: 2; }

a {
  text-decoration: underline; }
  a button {
    text-decoration: none; }
  a i.fa {
    text-decoration: underline; }

a.underline {
  text-decoration: underline; }

/*
  helper classes
*/
.text-size-larger {
  font-size: 1.5rem; }

.text-size-large {
  font-size: 1.25rem; }

.text-size-small {
  font-size: 0.75rem; }

.text-size-smallest {
  font-size: 0.5rem; }

.text-color-white {
  color: #ffffff; }
  .text-color-white * {
    color: #ffffff; }

.text-offset-left {
  padding-left: 8rem; }
  @media only screen and (max-width: 40.063em) {
    .text-offset-left {
      padding-left: 0; } }

.text-shadow-wide {
  text-shadow: 8px 6px 12px rgba(0, 0, 0, 0.5); }

/* -------------------------- */
/* ------- Button Styles ---- */
/* -------------------------- */
button, .button {
  background-color: #2C8282;
  border: 0;
  border-radius: 2px;
  box-shadow: 1px 2px 3px #999999;
  color: #ffffff;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-size: 1.188rem;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 1.25rem 2em;
  text-decoration: none;
  text-shadow: 1px 2px #000000; }
  button *, .button * {
    font-family: "Merriweather", serif; }
  @media screen and (max-width: 40.063em) {
    button, .button {
      padding: 0.55rem 2rem; } }
  @media screen and (max-width: 380px) {
    button, .button {
      width: 100%; } }
  button:hover, button:active, button:focus, .button:hover, .button:active, .button:focus {
    background-color: rgba(44, 130, 130, 0.95);
    box-shadow: inset 0px 1px 3px #666666;
    text-shadow: 0px 2px #333333;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear; }
  button .fa, .button .fa {
    margin-left: 1rem;
    text-decoration: none !important; }
  button.transparent, .button.transparent {
    background-color: transparent;
    border: 3px solid #2C8282;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8); }
    button.transparent:hover, button.transparent:active, button.transparent:focus, .button.transparent:hover, .button.transparent:active, .button.transparent:focus {
      background-color: rgba(0, 0, 0, 0.45); }
  button.mod-blue, .button.mod-blue {
    background-color: #2C8282; }
    button.mod-blue:hover, button.mod-blue:active, button.mod-blue:focus, .button.mod-blue:hover, .button.mod-blue:active, .button.mod-blue:focus {
      background-color: rgba(44, 130, 130, 0.95); }
  button.mod-modal, .button.mod-modal {
    color: #ffffff; }

/* -------------------------- */
/* - Foundation Overrides --- */
/* -------------------------- */
.row {
  max-width: 100%; }

/* -------------------------- */
/* Overlay & Modal Styles     */
/* -------------------------- */
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  display: none;
  left: 0;
  /*position: absolute;*/
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000; }

/* this overlay covers .container (not entire page) */
.overlay-container {
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  display: none;
  left: 0;
  margin-top: 90px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100; }

.modal-wrap {
  display: none;
  left: 0;
  margin: 6rem 1rem 0 1rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1001; }
  .modal-wrap .modal-content {
    background-color: #ffffff;
    box-shadow: 3px 5px 10px #666;
    display: block;
    margin: 0 auto;
    max-width: 500px;
    padding: 1rem;
    position: relative; }
    @media screen and (max-width: 40.063em) {
      .modal-wrap .modal-content {
        padding: 1rem; } }
  .modal-wrap .close-modal {
    cursor: pointer;
    font-weight: bold;
    max-width: 1.25rem;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    z-index: 1001; }

.openModal, .open-modal {
  cursor: pointer !important; }

/* -------------------------- */
/* ------- Helper Styles ---- */
/* -------------------------- */
.display-block {
  display: block; }

.display-inline-block {
  display: inline-block; }

.clear {
  clear: both;
  display: table;
  content: ' '; }

.clearCenter {
  clear: both;
  display: block;
  margin: 0 auto; }

.hidden {
  display: none; }

.w100 {
  width: 100% !important; }

.noPad, .no-pad {
  /*remove padding from a column*/
  padding-left: 0;
  padding-right: 0; }

.no-float {
  float: none !important; }

.no-underline {
  text-decoration: underline; }

.rotate180 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.margin-bottom-none {
  margin-bottom: 0; }

/* -------------------------- */
/* ------- horizontal 
                 rules ------ */
/* -------------------------- */
.hr {
  display: block;
  width: 100%; }

.hr.mod-footer {
  background-color: #535353;
  height: 2px;
  margin: 2rem 0; }

.hr.mod-thin-white {
  background-color: #ffffff;
  height: 2px;
  margin: 2rem 0; }

.hr.mod-section {
  background-color: #2C8282;
  height: 2px;
  margin: 6rem auto;
  width: 80%; }
  @media only screen and (max-width: 64.063em) {
    .hr.mod-section {
      margin: 3rem auto; } }
  @media only screen and (max-width: 40.063em) {
    .hr.mod-section {
      margin: 0.5rem auto; } }

.hr.mod-tapered-edges {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.75), transparent);
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent); }

.hr.mod-bottom-margin {
  margin-bottom: 2rem; }

.hr.mod-margin-top-bottom {
  margin: 2rem 0; }

[data-interchange="mobile"] {
  display: none; }

[data-interchange="micro"] {
  display: block; }

@media screen and (max-width: 40.063em) {
  [data-interchange="micro"] {
    display: none; }
  [data-interchange="mobile"] {
    display: block; } }

@media only screen and (min-width: 40.063em) {
  .center-column-text {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); } }

/* -------------------------- */
/* -- Size Variables   ------ */
/* -------------------------- */
/* -------------------------- */
/* ------- Global Styles ---- */
/* -------------------------- */
html {
  height: 100%; }

body {
  background-color: #ffffff;
  color: #333333;
  height: 100%;
  position: relative; }

/* -------------------------- */
/* ---- Container Styles ---- */
/* -------------------------- */
.wrapper {
  height: auto;
  min-height: 100%;
  overflow-x: hidden; }

.content-container {
  background: #ffffff;
  margin: 0 auto;
  max-width: 1280px;
  position: relative; }
  @media only screen and (max-width: 40.063em) {
    .content-container {
      margin-top: 0; } }

.content {
  position: relative; }

/* -------------------------- */
/* ---- Footer Styles    ---- */
/* -------------------------- */
/* -------------------------- */
/* ---- Form Styles      ---- */
/* -------------------------- */
form fieldset {
  border: 0;
  padding: 0; }

select {
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #ffffff;
  background-repeat: no-repeat;
  font-size: 0.85rem;
  font-weight: 500; }

#contact_form .fa {
  margin-right: 0.25rem;
  font-size: 0.8rem; }

#contact_form #contact_form_message {
  min-height: 7rem; }

/* -------------------------- */
/* ------- Header        ---- */
/* -------------------------- */
.brain-container {
  background-color: #b4d6cd; }

.brain-image {
  text-align: center; }

/* -------------------------- */
/*  Navigation (micro/mobile) */
/* -------------------------- */
.nav-micro {
  padding: 1.1875rem 0; }

.nav-micro-title {
  color: #b4b4b4;
  font-family: "Raleway", "Helvetica", Arial, sans-serif;
  font-size: 2rem;
  line-height: 1;
  text-transform: uppercase; }

.nav-micro-controls-item {
  color: #b4b4b4;
  font-family: "Open Sans", "Helvetica", Arial, sans-serif;
  text-transform: uppercase; }

/* -------------------------- */
/* ------- Secret Word   ---- */
/* -------------------------- */
/* -------------------------- */
/* ------- Social Share  ---- */
/* -------------------------- */
/* -------------------------- */
/* ------- Page   Styles ---- */
/* -------------------------- */

@charset "UTF-8";
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px\9;
  /*lte IE 8*/
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }
