
/* -------------------------- */
/* Overlay & Modal Styles     */
/* -------------------------- */
.overlay{
  background-color: rgba(0,0,0,0.7);
  bottom: 0;
  display: none;
  left: 0;
  /*position: absolute;*/
  position: fixed;  
  right: 0;
  top: 0;
  z-index: 1000;
}
/* this overlay covers .container (not entire page) */
.overlay-container{
  background-color: rgba(0,0,0,0.6);
  bottom: 0;
  display: none;
  left: 0;
  margin-top: 90px; //height of header
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;  
}
.modal-wrap{
  display: none;
  left: 0;
  margin: 6rem 1rem 0 1rem;
  position: absolute;
  right: 0;
  top: 0;
  // margin: 6rem auto 0 auto;
  z-index: 1001;
  .modal-content{
    
    background-color: $white;
    box-shadow: 3px 5px 10px #666;
    display: block;
    margin: 0 auto;
    max-width: 500px;
    padding: 1rem;
    position: relative;
    @media screen and (max-width: $breakpoint-small){
      padding: 1rem;
    }
  }
  .close-modal{
    // color: $yellow-base;
    cursor: pointer;   
    // font-family: $font-roboto;
    font-weight: bold;
    max-width: 1.25rem;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    z-index: 1001;
  }
}//modal-wrap


.openModal, .open-modal{
  cursor: pointer !important;  
}

/* -------------------------- */
/* ------- Helper Styles ---- */
/* -------------------------- */
.display-block{display: block;}
.display-inline-block{display: inline-block;}
.clear{
  clear:both;
  display: table;
  content: ' ';
}
.clearCenter {
  clear: both;
  display: block;
  margin: 0 auto;
}
.hidden{display: none;} 
.w100{width: 100% !important;} 
.noPad,.no-pad{
    /*remove padding from a column*/
    padding-left: 0;
    padding-right: 0;
}
.no-float{float: none !important;}
.no-underline{
  text-decoration: underline;
}
.rotate180{
  @include rotate(180deg);
}
.margin-bottom-none{margin-bottom: 0;}
/* -------------------------- */
/* ------- horizontal 
                 rules ------ */
/* -------------------------- */
.hr{
  display: block;
  width: 100%;
}
  .hr.mod-footer{
    background-color: #535353;
    height: 2px;
    margin: 2rem 0;
  }
  .hr.mod-thin-white{
    background-color: $white;
    height: 2px;
    margin: 2rem 0;
  }

  .hr.mod-section{
    background-color: $client-blue-base;
    height: 2px;
    margin: 6rem auto;
    width: 80%;
    @media only screen and (max-width: $breakpoint-medium){
      margin: 3rem auto;
    }    
    @media only screen and (max-width: $breakpoint-small){
      margin: 0.5rem auto;
    }
  }

  .hr.mod-tapered-edges {
      border: 0;
      height: 1px;
      // margin: 1rem 0 0 0;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }

  .hr.mod-bottom-margin{
    margin-bottom: 2rem;
  }

  .hr.mod-margin-top-bottom{
    margin: 2rem 0;
  }
//swap mobile/micro content
[data-interchange="mobile"]{display: none;}
[data-interchange="micro"]{display: block;}
@media screen and (max-width: $breakpoint-small) {
  [data-interchange="micro"]{display: none;}
  [data-interchange="mobile"]{display: block;}  
}


.center-column-text{
  @media only screen and (min-width: $breakpoint-small){
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }   
}
