/* -------------------------- */
/* ----- Breakpoints   ------ */
/* -------------------------- */

$breakpoint-small: 40.063em;
$breakpoint-medium: 64.063em;
$breakpoint-container: 80.000em;
$breakpoint-large: 90.063em;
$breakpoint-smaller: 500px;
$breakpoint-smallest: 380px;
