/* -------------------------- */
/* ------- Button Styles ---- */
/* -------------------------- */

button,.button{
  background-color: $client-blue-base;
  border: 0;
  border-radius: 2px;
  box-shadow: 1px 2px 3px $grey-base;
  color: $white;
  cursor: pointer;
  //font-family: $font-oswald;
  //  *{font-family: $font-merriweather;}
  font-size: 1.188rem;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 1.25rem 2em;
  text-decoration: none;  //no underline
  text-shadow: 1px 2px $black;
  @media screen and (max-width: $breakpoint-small) {
    padding: 0.55rem 2rem;
  } 
  @media screen and (max-width: 380px) {
    width: 100%;
  }
  &:hover, &:active, &:focus{    
    background-color: rgba(44,130,130,0.95);
    box-shadow: inset 0px 1px 3px $grey-darker;
    text-shadow: 0px 2px $grey-darkest;
    transition: all 0.5s linear;

  } 
  .fa{
    margin-left: 1rem;
    text-decoration: none !important;
  }
  &.transparent{
    background-color: transparent;
    border: 3px solid $client-blue-base;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.8);
    // text-shadow: none;
    &:hover, &:active, &:focus{  
    background-color: rgba(0,0,0,0.45)  
    }
  }
  &.mod-blue{
    background-color: $client-blue-base;
    &:hover, &:active, &:focus{    
      background-color: rgba(44,130,130,0.95);
    }
  }
  &.mod-modal{
    color: $white;
  }
}
