/* -------------------------- */
/* ------- Colors      ------ */
/* -------------------------- */
$black: #000000;
$white: #ffffff;

$grey-lightest: #ececec;
$grey-lighter: #cccccc;
$grey-base: #999999;
$grey-darker: #666666;
$grey-darkest: #333333;

$error-red: #ff0000; 
.error-red{
  color: $error-red;
}

/* -------------------------- */
/* - Annie  Color Palette  -- */
/* -------------------------- */
$annie-brain-bg: #b4d6cd;
$annie-grey: #b4b4b4;

$annie-yellow: #fff600;
$annie-pink: #ffb1cd;
$annie-purple: #a293ff;
$annie-green: #9cf8bc;

/* -------------------------- */
/* - Client Color Palette  -- */
/* -------------------------- */
$client-red-lightest: #FFABAB;
$client-red-lighter: #FB7F7F;
$client-red-base: #D84949;
$client-red-dark: #BD2B2B;
$client-red-darkest: #961111;

$client-tan-lightest: #FFD1AB;
$client-tan-lighter: #FBB77F;
$client-tan-base: #D88A49;
$client-tan-dark: #BD6D2B;
$client-tan-darkest: #964D11;

$client-blue-lightest: #80BFBF;
$client-blue-lighter: #4C9797;
$client-blue-base: #2C8282;
.color-client-blue-base{color: $client-blue-base;}
$client-blue-dark: #1A7171;
$client-blue-darkest: #0A5A5A;

$client-green-lightest: #96DF96;
$client-green-lighter: #65C965;
$client-green-base: #3AAD3A;
$client-green-dark: #229722;
$client-green-darkest: #0E780E;

