.content-section-image-dimensions{
  max-height: calcRems(334px);
  max-width: calcRems(600px);
}

.content-section{
  margin-bottom: calcRems(32px);
}
  .content-section-title{
    font-family: $font-opensans;
    padding-bottom: 0.66rem;
    position: relative;
    text-transform: uppercase;
    &:after{
      bottom: 0;
      content: ' ';
      display: block;
      height: calcRems(5px);
      position: absolute;
      width: 100%;
    }
    &.mod-illustration:after {
      background-color: $annie-yellow;
    }
    &.mod-design:after {
      background-color: $annie-pink;
    }
    &.mod-interactive:after {
      background-color: $annie-purple;
    }
    &.mod-contact:after {
      //background-color: $annie-green;
    }
  }

.content-slider-illustration{
  img{
    @extend .content-section-image-dimensions;
  }
  .slick-dots{
    display: none !important;
  }
  .slick-slide{
    position: relative;
  }
  .sneezeguy{
    transform: translateY(50%);
  }
}

.content-slider-design{
  img{
    border-right: 1rem solid white;
    @extend .content-section-image-dimensions;
  }
}


.content-slider-interactive{
  img{
    border-right: 1rem solid white;
    max-height: calcRems(272px);
    @extend .content-section-image-dimensions;
  }
}



.illustration-modal{}
  .illustration-target{
    img{
      box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
      margin: 0 auto;
      max-height: calcRems(600px);
      max-width: 90%;
    }
  }

.design-modal{}
  .design-target{
    img{
      box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
      margin: 0 auto;
      max-height: calcRems(600px);
      max-width: 90%;
    }
  }

.content-section-contact{
  margin-top: calcRems(100px);
  position: relative;
  @media only screen and (max-width: $breakpoint-small){
    border-top: 5px solid $annie-green;
    margin-top: calcRems(0px);
  }
}
  .content-section-contact-body{
    background-color: grey;
    background-image: url('../../public/images/contact-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calcRems(280px);
    width: 100%;
    @media only screen and (max-width: $breakpoint-medium){
      height: calcRems(200px);
    }
  }
    .content-section-contact-headline{
      h2{
        color: white;
        font-family: $font-raleway;
        font-weight: normal;
        text-transform: uppercase;
        transform: translate(calcRems(40px),calcRems(110px));
        @media only screen and (max-width: $breakpoint-medium){
          transform: translate(calcRems(20px),calcRems(80px));
        }
        @media only screen and (max-width: $breakpoint-small){
          //font-size: 1.25rem;
          transform: translate(calcRems(0px),calcRems(0px));
          margin-bottom: 1rem;
        }
        //@media only screen and (max-width: $breakpoint-smallest){
        //  transform: translate(calcRems(0px),calcRems(85px));
        //}
      }
    }
    .content-section-contact-icon{
      img{
        transform: translateY(calcRems(110px));
        @media only screen and (max-width: $breakpoint-medium){
          transform: translateY(calcRems(80px));
        }
        @media only screen and (max-width: $breakpoint-small){
          max-width: 2.8rem;
          transform: translateY(calcRems(0px));
        }
      }
    }

.mobile-contact{
  color: $annie-grey;
  img{
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
  }
}


footer{
  margin-top: 2rem;
  padding: 0 1rem;
  h4{
    color: #646464;
    text-transform: uppercase;
    a{color: #646464;}

  }
  @media only screen and (max-width: $breakpoint-small){}
  @media only screen and (max-width: $breakpoint-medium){
    &.footer-mobile{
      margin-top:6rem;
    }
  }
}