/* -------------------------- */
/* ------- Font   Styles ---- */
/* -------------------------- */
/*
  font-stacks
*/
$font-raleway: 'Raleway', 'Helvetica', Arial, sans-serif;
$font-opensans: 'Open Sans', 'Helvetica', Arial, sans-serif;

/*
  global styles
*/
html{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  // font-family: $font-stack-helvetica-light;
  font-size: 16px;
  line-height: 1.5;
}

p{
  line-height: 2;
}
  p.larger{
    font-size: 1.25rem;
  }

p, a, span, li{
}

h1,h2,h3,h4,h5,h6{
  font-family: $font-raleway;
  font-weight: bold;
  *{
    font-family: $font-raleway;;
    font-weight: bold;
  }
}


p{
  font-size: 1.063rem; //17pxk
}
  p.large{
    font-size: 1.25rem;
  }
  p.mod-bottompad-low{
    margin-bottom: 0.25rem;
  }
  .error{
    color: $error-red;
    display: none; //hidden by default
    margin: 0.7rem 0;
  }
ul,ol{}

  li{
    font-size: 1.2rem;
    line-height: 2;
  }

a{
  // color: $client-blue-darkest;
  text-decoration: underline;
  &:hover, &:focus, &:active{
    // color: $client-green;
  }
  &:visited{
  }
  button{
    text-decoration: none;
  }
  i.fa{
    text-decoration: underline;
  }
}
  a.underline{
    text-decoration: underline;
  }

strong{
  //should always be roboto;
  // font-weight: 700;
}

/*
  helper classes
*/
.text-size-larger{
  font-size: 1.5rem;
}
.text-size-large{
  font-size: 1.25rem;
}
.text-size-small{
  font-size: 0.75rem;
}
.text-size-smallest{
  font-size: 0.5rem;
}
.text-color-white{
  color: $white;
  * { color: $white; }
}

.text-underline{
  text-decoration: underline;
}

.text-cursor{
  cursor: pointer;
}

//this class used for doi
.text-offset-left{
  padding-left: 8rem;
  @media only screen and (max-width: $breakpoint-small){
    //reset for small
    padding-left: 0;
  }    
}
.text-offset-right{}

.text-shadow-wide{
  text-shadow:8px 6px 12px rgba(0,0,0,0.5); 
}
