form{
  fieldset{
    border: 0;
    padding: 0;
  }
}
select{
  //remove vendor arrows from selects
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  
  appearance: none;
  background-color: $white;
  background-repeat: no-repeat;
  font-size: 0.85rem;
  font-weight: 500;
  option{
  }
}


#contact_form{

  .fa{
    margin-right: 0.25rem;
    font-size: 0.8rem;
  }
  #contact_form_message{
    min-height: 7rem;
  }
}