/* -------------------------- */
/* - Foundation Overrides --- */
/* -------------------------- */

//let rows be as wide as they want
.row{
  max-width: 100%; 
}
ul{
  // margin-left: 0;
}

.reveal-modal{
  .close-reveal-modal{
    color: $annie-brain-bg;
    font-size: 1.5rem;
    text-decoration: none;
  }
  @media only screen and (max-width: $breakpoint-medium){
    //max-height: 20rem;
  }
  @media only screen and (max-width: $breakpoint-small){
    //max-height: 20rem;
  }
}