header{}

.brain-visibility{
  transition: opacity ease-in 0.01s;
  -webkit-transition: opacity ease-in 0.01s;
  -moz-transition: opacity ease-in 0.01s;
  -o-transition: opacity ease-in 0.01s;
  opacity: 0;
  &:hover{
    opacity: 0.999;
  }
  &.show{
    opacity: 0.999;
  }
  div{
    position: absolute;
  }
}
$brain-med: 750px;
$brain-sm: 480px;

.brain-label-sm-up{
  display: none;
}
@media only screen and (max-width: $brain-sm){
  .brain-label-sm-up{
    display: block;
  }
  .brain-label-md-up{
    display: none;
  }
}

.brain{
  img{width: 100%;}
}
  .brain-container{
    background-color: $annie-brain-bg;
    height: calcRems(398px);
    margin-bottom: 1rem;
    width: 100%;
    @media only screen and (max-width: $brain-med){
      height: calcRems(221px);
    }
    @media only screen and (max-width: $brain-sm){
      height: calcRems(152px);
    }
    @media only screen and (max-width: $breakpoint-small){
      margin-bottom: $mobile-section-bottom-margin;
    }
  }

  .brain-image{
    background-image: url('../images/brain/brain.png');
    background-size: cover;
    background-position: center center;
    display: block;
    height: calcRems(398px);
    margin: 0 auto;
    position: relative;
    width: calcRems(577px);
    @media only screen and (max-width: $brain-med){
      height: calcRems(221px);
      width: calcRems(320px);
    }
    @media only screen and (max-width: $brain-sm){
      height: calcRems(152px);
      width: calcRems(220px);
    }
  }
  .brain-contact{
    @extend .brain-visibility;
    z-index:3;
  }
    .brain-contact-image{
      left: calcRems(181.6px);
      top: calcRems(105.6px);
      width: calcRems(245px);
      @media only screen and (max-width: $brain-med){
        left: calcRems(101.6px);
        top: calcRems(58.4px);
        width: calcRems(136px);
      }
      @media only screen and (max-width: $brain-sm){
        left: calcRems(70.4px);
        top: calcRems(40px);
        width: calcRems(92.8px);
      }
    }
    .brain-contact-label{
      left: calcRems(281.6px);
      top: calcRems(250px);
      width: calcRems(365px);
      z-index: 2;
      @media only screen and (max-width: $brain-med){
        left: calcRems(144px);
        top: calcRems(154px);
        width: calcRems(301px);
      }
      @media only screen and (max-width: $brain-sm){
        left: calcRems(128px);
        top: calcRems(128px);
        width: calcRems(125px);
      }
    }
  .brain-design{
    @extend .brain-visibility;
  }
    .brain-design-image{
      left: calcRems(331.2px);
      top: calcRems(14.4px);
      width: calcRems(225px);
      @media only screen and (max-width: $brain-med){
        left: calcRems(183.52px);
        top: calcRems(8px);
        width: calcRems(124.8px);
      }
      @media only screen and (max-width: $brain-sm){
        left: calcRems(126.4px);
        top: calcRems(4.8px);
        width: calcRems(86.4px);
      }
    }
    .brain-design-label{
      left: calcRems(508px);
      top: calcRems(47px);
      width: calcRems(102px);
      z-index: 2;
      @media only screen and (max-width: $brain-med){
        left: calcRems(272px);
        top: calcRems(15px);
        width: calcRems(102px);
      }
      @media only screen and (max-width: $brain-sm){
        left: calcRems(168px);
        top: calcRems(15px);
        width: calcRems(86px);
      }
    }
  .brain-illustration{
    @extend .brain-visibility;
  }
    .brain-illustration-image{
      left: calcRems(93.6px);
      top: calcRems(0px);
      width: calcRems(272px);
      @media only screen and (max-width: $brain-med){
        left: calcRems(51.2px);
        width: calcRems(150.4px);
      }
      @media only screen and (max-width: $brain-sm){
        left: calcRems(36px);
        width: calcRems(104px);
      }
    }
    .brain-illustration-label{
      left: calcRems(0px);
      top: calcRems(90px);
      width: calcRems(133px);
      z-index: 2;
      @media only screen and (max-width: $brain-med){
        left: calcRems(-35px);
        top: calcRems(5px);
      }
      @media only screen and (max-width: $brain-sm){
        left: calcRems(-35px);
        top: calcRems(5px);
      }
    }
  .brain-interactive{
    @extend .brain-visibility;
  }
    .brain-interactive-image{
      left: calcRems(372.8px);
      top: calcRems(220.8px);
      width: calcRems(138px);
      @media only screen and (max-width: $brain-med){
        left: calcRems(206.4px);
        top: calcRems(121.6px);
        width: calcRems(76.8px);
      }
      @media only screen and (max-width: $brain-sm){
        left: calcRems(142.4px);
        top: calcRems(83.68px);
        width: calcRems(52.8px);
      }
    }
    .brain-interactive-label{
      left: calcRems(508px);
      top: calcRems(270px);
      width: calcRems(131px);
      z-index: 2;
      @media only screen and (max-width: $brain-med){
        left: calcRems(268px);
        top: calcRems(142px);
        width: calcRems(131px);
      }
      @media only screen and (max-width: $brain-sm){
        left: calcRems(195.2px);
        top: calcRems(112px);
        width: calcRems(64px);
      }
    }

  .brain-mobile{
    background-color: $annie-brain-bg;
    display: block;
    margin-bottom: 6rem;
    text-align: center; 
  }

.mobile-header{
  *{z-index: 1000;}
  .annie-title-back-container{
    display: inline-block;
    display: none;
    left: -0.6rem;
    position: relative;
    width: 2rem;
  }
    .annie-title-back{
      background-color: rgba(180,214,205, 0.65);
      color: $white;
      cursor: pointer;
      display: inline-block;
      height: auto;
      left: 0;
      padding: 0.7rem 1.25rem;
      position: fixed;
      top: 0;
      width: 100%;
      &:after {
        // content: '<';
        // left: calcRems(-6px);
        // position: relative;
      }
    }
  .annie-title{
    display: inline-block;
  }
}