.mobile-content-section{
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  height: $mobile-section-height;
  margin-bottom: $mobile-section-bottom-margin;
  position: relative;
  width: 100%;
  @media only screen and (min-width: $breakpoint-small){
    display: none;
  }
  &.mod-illustration{
    border-top: 5px solid $annie-yellow;
    background-image: url('../images/illustration/illustration9.jpg');
    background-position: right center;
  }
  &.mod-design{
    border-top: 5px solid $annie-pink;
    background-image: url('../images/design/design1.jpg');
    background-position: 20% 45%;
  }
  &.mod-interactive{
    border-top: 5px solid $annie-purple;
    background-image: url('../images/interactive/mobile-cover.jpg');
    background-position: 20% 45%;
  }
}
  .mobile-content-section-overlay{
    background-color: rgba(0,0,0,0.35);
    bottom: 0;
    content: ' ';
    cursor: pointer;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    &:hover{
      background-color: rgba(0,0,0,0);
    }
  }
  .mobile-content-section-title{
    color: white;
    font-size: 2rem;
    margin-left: 2rem;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }


.content-section-contact-body{
  @media only screen and (max-width: $breakpoint-small){
    height: $mobile-section-height;
    padding-top: 2.5rem;
  }
}
  .content-section-contact-headline{
    h2{
      @media only screen and (max-width: $breakpoint-small){
        font-size: 2rem;
        //margin-left: 1rem;
      }
      @media only screen and (max-width: $breakpoint-smaller){
        //font-size: 1.5rem;
      }
      @media only screen and (max-width: $breakpoint-smallest){
        //font-size: 1rem;
      }
    }
  }

.mobile-content-body{
  display: none;
  &.mod-illustration,
  &.mod-design,
  &.mod-interactive{
    .slick-slide{
      margin-right: 0.5rem;
    }
    .slick-slider img{
      border: 1px solid #ccc;
      max-height: 10rem;
      max-width: 15rem;

    }
  }
  img{
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
