.interactive-modal{
  padding: 4rem 0;
  .close-reveal-modal.mod-inline{
    font-size: 1rem;
    left: 0;
    position: relative;
    top: 0;
  }
}
  .interactive-modal-content{
    display: none;
  }
  .interactive-modal-image{
    margin-bottom: 1rem;
  }
  .interactive-modal-title{
    p{
      color: #858484;
      font-weight: bold;
      line-height: 1.4;
      margin-bottom: 0;
      text-transform: uppercase;
    }
    .brand{}
    .promo{
      color: $annie-brain-bg;  
    }
    .year{}
  }