.nav-micro{
  padding: 1.1875rem 0;
}
  .nav-micro-title{
    *{
      color: #646464;
      font-family: $font-raleway;
      font-size: 2rem;
      font-weight: 300;
      line-height: 1;
      text-decoration: none;
      text-transform: uppercase;
      &:hover{
        color: $annie-brain-bg;
      }
    }
    @media only screen and (max-width: 1306px){
      padding-left: 0.5rem;
    }
  }

  .nav-micro-controls{
    list-style: none;
    margin-bottom: 0;
    padding-top: 0.66rem;
    @media only screen and (max-width: 1306px){
      padding-right: 0.5rem;
    }
  }
    .nav-micro-controls-item {
      * {
        color: $annie-grey;
        text-decoration: none;
        &:hover{
          color: $annie-grey;
        }
      }
      cursor: pointer;
      display: inline-block;
      font-family: $font-opensans;
      font-size: 1rem;
      position: relative;
      text-transform: uppercase;
      &:not(:last-child) {
        margin-right: 0.6rem;
      }
      &:after {
        content: ' ';
        display: none;
        height: 5px;
        position: absolute;
        top: 2.9rem;
        width: 100%;
      }
      &:hover:after,
      &.highlight:after{
        display: block;
      }
      &.mod-illustration:after{
        background-color: $annie-yellow;
      }
      &.mod-design:after{
        background-color: $annie-pink;
      }
      &.mod-interactive:after{
        background-color: $annie-purple;
      }
      &.mod-contact:after{
        background-color: $annie-green;
      }
      &.js-highlight:after {
        display: block;
      }

    }


.annie-title{
  color: #646464;
  font-family: $font-raleway;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
  position: relative;
  text-transform: uppercase;
  top: 1rem;
  @media only screen and (max-width: $breakpoint-small){
    font-size: 1.6rem;
  }
}

// mobile nav bar
@media only screen and (max-width: $breakpoint-small){
  .annie-mobilenav.tab-bar.show-for-small-only{
    background-color: $annie-brain-bg;
  }
  .annie-mobilenav-dot{
    background-color: $white;
  }
    .off-canvas-wrap.move-left .annie-mobilenav-dot{
      background-color: $annie-brain-bg;
    }
  .annie-title{
    color: $white;
    text-shadow: 0px 0px 8px $annie-grey;
  }
}


.annie-mobilenav.tab-bar{
  background: transparent;
  height: calcRems(65px);
  padding: 1rem;

  .right-small{
    border: 0;
  }
  .menu-icon{
    color: black;
  }
}
  .annie-mobilenav-icon{
    position: relative;
  }
    .move-left .right-off-canvas-toggle{
      //transform: translateX(calcRems(252px))
      left: calcRems(252px);
      position: relative;
      z-index: 9999;
    }



    .annie-mobilenav-dot{
      background-color: $annie-brain-bg;
      content: ' ';
      display: block;
      height: calcRems(5px);
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
      width: calcRems(7px);
      &:after{
        display: none !important;
      }
      &:nth-child(1){
        top: 1.33rem;
      }
      &:nth-last-child(2){
        top: 2rem;
      }
      &:last-child{
        top: 2.66rem;
      }
      @media only screen and (max-width: $breakpoint-small){
        background-color: $white;
      }
    }
.annie-mobilenav-menu{
  background: transparent;
  padding-top: calcRems(42px);
  ul.off-canvas-list{
    margin-top: 3rem;
  }
  ul.off-canvas-list li a{
    color: grey;
    border-bottom: 0;
    font-family: $font-opensans;
    padding: 0.66667rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    &:hover{
      background: transparent;
    }
  }
}



.annie-off-canvas{
  box-shadow: none !important;
}