.content-section {
  .slick-slider {
    button,.button {
      $slick-btn-size: 3rem;
      background-color: $annie-brain-bg;
      border-radius: 2rem;
      box-shadow: none;
      height: $slick-btn-size;
      margin-bottom: 0;
      opacity: 0.9;
      padding: 0;
      position: absolute;
      top: 0;
      transform: translateY(calcRems(140px));
      width: $slick-btn-size;
      z-index: 99;
      .fa{
        margin-left: 0;
        text-shadow: none;
      }
      &.slick-next .fa{
        margin-left: 0.2rem;
      }
      $button-ltr-offset: -2rem;
      &.slick-prev{
        left: $button-ltr-offset;
      }
      &.slick-next{
        right: $button-ltr-offset;
      }


    }

    .slick-list {
      padding: 0;
    }
  }
}
